extends ./layout
block content
  .jumbotron.jumbotron-fluid.main-background
    .container
      h1.display-4 Live Streaming Video Service
      p.lead
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      hr.my-2
      p.py-2
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      a.btn.btn-primary.btn-lg.mb-4(href='#', role='button') Learn more
  .container.text-center
    h4.mt-4 Live Videos
    h3.mb-4 썸네일 이미지의 측면부분을 클릭하여 눌러 스트리밍 화면을 미리볼 수 있습니다!
    .row.fish-img
      .col-md-4
        img(src='https://www.todaysshopper.net/wp-content/uploads/2018/06/icon-play-6.png' width="30px")
        h4 Video-1
        button(type="button" class="btn btn-primary btn-block" onclick="location.href='/play/video1'") 입장하기
        .video
          .box
            img.vid(src="https://via.placeholder.com/300x150" width="300px" height="150px")          
          .preview
        
            

      .col-md-4
        img(src='https://www.todaysshopper.net/wp-content/uploads/2018/06/icon-play-6.png' width="30px")
        h4 Video-2
        button(type="button" class="btn btn-primary btn-block" onclick="location.href='/play/video2'") 입장하기
        .video
          .box
            img.vid(src="https://via.placeholder.com/300x150")
          .preview
          .information
            a.box(href=`/play/video1`)                              
      
      .col-md-4
        img(src='https://www.todaysshopper.net/wp-content/uploads/2018/06/icon-play-6.png' width="30px")
        h4 Video-3
        button(type="button" class="btn btn-primary btn-block" onclick="location.href='/play/video3'") 입장하기
        .video
          .box
            img.vid(src="https://via.placeholder.com/300x150")
          .preview
            .vid
          .information
            a.box(href=`/play/video1`)          

    
  script.
    "use strict";    
    var videoUrls = ["http://stream.itsp.kr:1935/itspcamera2/test1/manifest.mpd","http://stream.itsp.kr:1935/itspcamera2/test2/manifest.mpd","http://stream.itsp.kr:1935/itspcamera2/test2/manifest.mpd"]
    var videoIds = ["video1","video2","video3"]
    
    function thumbnailPlay(videoUrl, videoId, i) {
    var vid = document.getElementsByClassName('vid');    
    vid[i].addEventListener('click', function (e) {
    
    console.log('Video preview made');

    var video = document.createElement('video');
    video.setAttribute("id", videoId);
    video.setAttribute("class", "video-js vjs-default-skin vjs-big-play-centered");
    var a = document.createAttribute('controls');
    video.setAttributeNode(a);
    var a = document.createAttribute('autoplay');
    video.setAttributeNode(a);
    var a = document.createAttribute('muted');
    video.setAttributeNode(a);
    video.setAttribute("preload", "auto");
    video.setAttribute("width", "300");
    video.setAttribute("height", "150");
    video.setAttribute("data-setup", '{}');

    var source = document.createElement('source');
    
    source.setAttribute('src', videoUrls[i]);
    source.setAttribute('type', "application/dash+xml");
    video.appendChild(source);


    var preview = document.getElementsByClassName('preview');
    preview[i].appendChild(video);
    
    var player = videojs(video);



    preview[i].addEventListener('mouseout', function (e) {
      if(preview[i].children[0]){
        preview[i].removeChild(document.getElementById(videoId));
      }      
    });

    



    });    
    }
    
    
    for(var i = 0; i<videoUrls.length; i++){
      thumbnailPlay(videoUrls, videoIds, i);
    }
  